body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(23, 30, 34);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .root {
    padding: 20px 0;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  
  .header {
    text-align: center;
    color: rgb(252, 216, 169);
    font-weight: 300;
    margin: 0;
  }
  
  .subheader {
    color: #fff;
    text-align: center;
    font-weight: 300;
    width: 100%;
    display: block;
  }
  
  .characterBox {
    transition: all 0.1s ease-out;
    width: 300px;
    height: 250px;
    border: 1px solid rgb(194, 5, 115);
    background: rgb(82, 26, 134);
    margin: 12px 6px;
    overflow: hidden;
  }
  
  .characterBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .characterBox h2 {
    transition: all 0.3s ease-out;
    text-align: center;
    color: rgb(213, 202, 255);
    font-style: italic;
    font-weight: 500;
  }
  .characterBox:hover h2 {
    color: rgb(191, 255, 241);
  }
  
  .characterBox img {
    transition: all 0.3s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .characterBox img.tier2:hover {
    animation: hueRotate 2s infinite;
    transform: scale(1.05);
  }
  
  @keyframes hueRotate {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(260deg) grayscale(100%);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }